@media screen and (max-width: 991.20px){
	.carousel-inner{
		height:500px;
	}
	.slikaslajder{
		height:500px;
	}
}
@media screen and (max-width: 767.20px){
	.tekst p{
		font-size:18px;
	}
	.prvi h3{
		font-size:20px;
	}
	.prvi p{
		font-size:17px;
	}
}
@media screen and (max-width: 600px){
	.galerija img{
		width:75%;
	}
	
}
@media screen and (max-width: 426px){
	.carousel-inner{
		height:400px;
	}
	.slikaslajder{
		height:400px;
	}
	.tekst p{
		font-size:16px;
	}
	.prvi h3{
		font-size:18px;
	}
	.prvi p{
		font-size:15px;
	}
	.autortekst p{
		font-size:16px;
	}
	.autortekst h3{
		font-size:18px;
	}
}