*{
	padding: 0px;
	margin: 0px;
	font-family: "PT Sans", sans-serif;
}
.bkw{
	width:90%;
}
.bk-light{
	color:#fff !important;
}
ul li a{
  text-decoration: none;
}
.active{
  color: #89cff0 !important;
}
.lista{
	list-style: none;
	text-decoration: none;
}
/*inedx*/
.carousel-inner{
	height:660px;
}
.pozboja{
	background-color:#d2e4eb;
}
.tekst p{
	font-size:17px;
}
.slikaslajder{
	height:660px;
	filter:brightness(.6);
}
.slike img{
	height:300px;
	width:300px;
	padding-top:80px;
	transition:400ms all;
}
.slike img:hover{
    transform: scale(1.05);
}

.galerija img{
    transition: 400ms all;
}
.galerija img:hover{
    transform: scale(1.05);
}
.bg-light-galerija{
	color:#d2e4eb !important;
}
/*autor*/

#autor-container{
    margin:40px 0px;
}
#autor-container .row{
    width:75%;
}
#autor-slika-container{
    height:300px;
}
#autor-slika-container img{
	transition: 400ms all;
}
#autor-text{
    text-align:justify;
}
#autor-slika-container img:hover{
	transform: scale(1.05);
}